body {
   height: 100%;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background: #002b36;
}

.top_bar {
   background: #073642;
   position: fixed;
   display: flex;
   width: 100%;
   top: 0; 
   height: 3rem;

   overflow: hidden;
   z-index: 100;
}

.name_plate {
   display: flex;
   width: 50%;  
   align-items: center;
   margin-left: 1rem;
}

.name_plate p {
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
}

.nav {
   display: flex;
   width: 50%;
   justify-content: space-between;   
   align-items: center;              
}

.nav a {
   width: 25%;
   color: white;
   text-align: center;
   text-decoration: none;
   font-size: 1.5rem;
}

.hamburger {
   display: none;
}

.title_bar {
   margin-top: 4.25rem;
}

.title_bar h1 {
   color: white;
   text-align: center;
   vertical-align: middle;
}

.copyright_bar {
   height: 4rem;
   top: 1rem;
   position: relative;
   z-index: -100;
}

.copyright_bar p {
   color: #f2f2f2;
   text-align: center;
   vertical-align: middle;
}


.left_column {
   width: 50%;
   float: left;
}

.right_column {
   width: 50%;
   float: right;
}

.left_top {
   position: relative;
   width: 100%;
   height: 18rem;
   background: #102434;
}

.abstract_box {
   background: white;
   position: absolute;
   margin: 1.75rem;
   height: 14.5rem;
   box-shadow: 0 0 2rem black;
   align-items: center;
   display: flex;
}

.abstract_box p {
   margin: 2%;
   font-size: 1.05rem;
   text-align: justify;
   vertical-align: middle;
}

.grid_block {
   position: relative;
   width: 100%;
   overflow: hidden;
   background-color: white;
   
}

.photo_grid a:link, .photo_grid a:visited, .photo_grid a:hover {
    color: black;
}

.grid_block:hover .image {
   transition: .5s ease;
   opacity: 0.9;
}

.grid_block .image {
   max-width:100%;
   position: absolute;
   z-index: 0;
   text-align: center;
   transition: .25s ease;
}

.grid_block h1 {
   font-size: 4rem;
   position: absolute;
   z-index: 1;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -100%);
   visibility: hidden;
   opacity: 0;
   transition: .25s ease;
}

.grid_block:hover h1 {
   visibility: visible;
   opacity: 1;
   transition: .5s ease;
}


.left_bottom {
   height: 22rem;
}

.grid_block .image {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.right_top {
   height: 21rem;
}

.right_bottom {
   height: 19rem;
}

.right_bottom .image{
   width: 100%;
}

@media screen and (max-width: 1200px) {
 .left_column {
      width: 100%;
      float:none;
   }

   .right_column {
      width: 100%;
      float:none;
   }
   
   .nav {
      padding-right: 1rem;
   }
 
   
   .grid_block {
      height: 35%;
   }
}

@media screen and (max-width: 750px) {
   .nav {
      width: 10%;
      flex-direction: row-reverse;
   }
   
  .nav a {
    display: none;
  }
  
  .nav a.hamburger {
    float: right;
    display: block;
    text-align: right;
    margin-right: 1rem;
  }  
  
  .name_plate {
    width: 90%;
  }
  
  .grid_block {
      height: 40%;
   }
   
   .right_bottom {
      height: 30%;
   }

}

@media not (pointer: fine) {
   .grid_block .image {
      opacity: 0.9;
   }
   
   .grid_block h1 {
      visibility: visible;
      opacity: 1;
   }
}